@media (max-width: 768px) {
	.miniimg {
		height: 50px;
		width: auto;
		margin: 1px;
	}

	/** CONTENT **/

	/* main-region */
	.main-region {
		padding-top: 4em;
		padding-bottom: 3em;
		padding-left: 4%;
		padding-right: 4%;
	}

	/* detail-region */
	#break1, #break2 {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 4%;
		padding-right: 4%;
	}
	
	.detail-region {
		padding-top: 3em;
		padding-bottom: 3em;
		padding-left: 4%;
		padding-right: 4%;
	}
	
	.boxed {
		padding: 4px 4px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.watermark {
		width: 18em;
		top: 60px;
		right: 1em;
	}
}