@font-face {font-family: 'Averia'; font-weight: bold; font-style: normal; src: url('../fonts/averia/Averia-Bold.ttf') format('truetype');}
@font-face {font-family: 'Averia'; font-weight: bold; font-style: italic; src: url('../fonts/averia/Averia-BoldItalic.ttf') format('truetype');}
@font-face {font-family: 'Averia'; font-weight: normal; font-style: italic; src: url('../fonts/averia/Averia-Italic.ttf') format('truetype');}
@font-face {font-family: 'Averia'; font-weight: normal; font-style: normal; src: url('../fonts/averia/Averia-Regular.ttf') format('truetype');}
@font-face {font-family: 'Andika'; font-weight: normal; font-style: normal; src: url('../fonts/andika/AndBasR.ttf') format('truetype');}

section {
	margin: 0px 0px;
	font-family: 'Andika',tahoma,'Lucida Sans',sans;
}
.section-content-wrapper {
    padding: 0px 0px;
}
h1 {
	font-family: 'Averia',tahoma,'Lucida Sans',sans;
	font-size: 2.2em;
	margin-top: 0.7em;
	margin-bottom: 1em;
}
h2 {
	font-family: 'Averia',tahoma,'Lucida Sans',sans;
	font-size: 1.8em;
	margin-top: 1.1em;
	margin-bottom: 0.7em;
}
a, .purple {
    color: #AE0B74;
}
a:hover, .main-region a:focus {
    color: #AE0B74;
    text-decoration: underline;
}
ul.list-icons {
	list-style: outside none none;
}
.text-warning {
	color: red;
}
#subpage {
	font-size: 1.0em;
	color: #444444;
    text-shadow: none;
}
.vcentered {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.miniimg {
	/* xs sm */
}
.titleimg {
	width: 99%;
	height: auto;
	border-radius: 0.8em;
	border: 0px none;
}

/** NAV **/

/* Nav bar */
.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.60);
	border-color: transparent;
	background-image: none;
}
/* Nav icons */
nav i {
	color: #DDDDDD;
	text-shadow: 1px 1px 0px #575757;
}
/* Nav header */
header #banner {
    z-index: 1040;
    margin-top: 7px;
    text-align: center;
    font-size: 25px;
    font-family: 'Averia',tahoma,'Lucida Sans',sans;
    color: #FFF;
    font-weight: bold;
    position: fixed;
    top: 0px;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}


/** CONTENT **/

/* main-region */
#region1 {
	background-image: url("/_assets/front/img/bg1.jpg");
}
.main-region {
	font-size: 1.2em;
	color: #FFFFFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.95);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
	/* xs sm */
}

/* detail-region */
#break1, #break2 {
	background-color: #339BEB;
	background-image: url("/_assets/front/img/igm_blue.jpg");
	background-size: 100%;
    background-attachment: scroll;
	/* xs sm */
}
#region2 {
	background-image: url("/_assets/front/img/bg6.jpg");
}
#region3 {
	background-image: url("/_assets/front/img/bg2.jpg");
}
.detail-region {
	font-size: 1.1em;
	color: #FFFFFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    /* xs sm */
}
article p {
	font-size: 0.85em;
	padding-top: 0.2em;
	padding-bottom: 2em;
}

.boxed {
	background-color: #FFF;
	color: #444444;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	
}

.watermark {
	color: #FFFFFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    position: fixed;
	text-align: right;
	/* xs sm */
}